*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* background-color: #f3f3f3; */
    margin: 0;
}

.container {
    font-size: larger;
}

.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    /* background-color: #272727; */
    font-size: 16px;
    border-radius: 10px;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow {
    /* color: white; */
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
    padding: 15px;
    /* border: 2px solid #272727; */
    border-radius: 10px;
}

.ql-toolbar.ql-snow svg {
    scale: 1.5;
}

/* to get correct output while printing */

/* @page {
    margin: 1in;
} */